@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Desktop view starts here */

/* Global styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 128px;
}

.header-register {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 12px;
}

.header-logo {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.header-logo {
    margin: 0;
}

.header-signup p {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.header-signup {
    padding: 12px 24px 12px 24px;
    /* gap: 6px; */
    border-radius: 14px;
    background: linear-gradient(180deg, #b73bbe 0%, #992e9d 93.51%);
    box-shadow: 0px 8px 24px -10px #992e9d80;
    cursor: pointer;
}

.header-login {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    color: #992e9d;
    cursor: pointer;
}

/* Header Base */

.header-base {
    background-color: #3b3b3e;
    width: 100vw;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: white;
}

.header-base h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.underlight {
    display: none;
    width: 100%;
    height: 4px;
    border-radius: 10px 10px 0px 0px;
    background: #ffa50b;
}

#header-hover:hover .underlight {
    display: block;
}

.header-base p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #cfd0d2;
    margin: 10px 0;
}

/* Hero */

.hero {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10rem;
    margin-top: 5rem;
    width: 55%;
}

.hat-image {
    width: 14.75px;
    height: auto;
}

.iit-alumuni {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #434347;
}

.iit-alumuni-highlight {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.hat-iit-alumuni {
    border: 1px #ffa50b solid;
    border-radius: 12px;
    padding: 18px 24px 18px 24px;
    display: inline-block;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.header-initiative {
    font-size: 16px;
    color: #333;
}

.header-initiative strong {
    font-weight: 700;
}

.hero-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.hero-section h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #595961;
    text-align: left;
    margin-top: 1.5rem;
}

.hero-section h1 span {
    color: #992e9d;
}

.hero-section p {
    font-size: 18px;
    color: #434347;
    margin-bottom: 30px;
    text-align: left;
}

.hero-section span {
    font-weight: bold;
}

.features {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.feature-item {
    padding: 10px 20px;
    background-color: #fffcea;
    border: 1px solid #fff4c5;
    border-radius: 20px;
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
}

.feature-item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
}

.star-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.cta-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.enroll-now {
    background-color: #b73bbe;
    color: #fff;
    padding: 24px 48px 24px 48px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 8px 48px -10px rgba(153, 46, 157, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 600;
}
.enroll-now p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #fcf5fe;
}

.know-more p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #992e9d;
    margin: 0;
}

.know-more {
    margin: 24px;
    gap: 6px;
    border-radius: 16px;
    background: white;
    border: none;
    display: flex;
    cursor: pointer;
}

/* Stats */

.stats-container {
    display: flex;
    justify-content: space-around;
    background-color: #f8f3fa;
    padding: 20px 7rem;
    border: 1px #f9ebfc solid;
}

.stat {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    text-align: left;
    gap: 12px;
}

.count {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #992e9d;
    text-align: left;
    margin: 0;
}

.label {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #686972;
    margin: 0;
}

.course-icon {
    background-image: url("../public/images/course.svg");
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
}

.learners-icon {
    background-image: url("../public/images/learners.svg");
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
}

.doubts-icon {
    background-image: url("../public/images/doubts.svg");
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
}

.projects-icon {
    background-image: url("../public/images/projects.svg");
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
}

.stats-line {
    width: 1px;
    height: 100px;
    background: #f4d6f8;
}

/* Course List */

.course-list-container {
    margin-top: 7rem;
    padding: 40px;
    background-color: #f8f3fa;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-list-headings h3 {
    color: #992e9d;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 10px;
    padding: 16px 28px 16px 28px;
    border: 1px solid #f4d6f8;
    border-radius: 1000px;
    display: inline-block;
}

.course-list-headings h1 {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -3%;
    text-align: center;
    font-weight: 700;
    color: #4c4d52;
    margin-bottom: 40px;
}

.course-list-headings h1 p {
    display: inline;
    background: linear-gradient(23.98deg, #b73bbe 1.46%, #ebcb2e 97.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.courses {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    border-radius: 28px;
    width: 85%;
    align-items: center;
    overflow: hidden;
    padding: 0 20px 0 20px;
    border: 1px #e5e5e8 solid;
}

.course {
    background-color: white;
    width: 100%;
    /* border-radius: 10px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.course-details {
    text-align: left;
}

.course h2 {
    font-size: 28px;
    color: #4c4d52;
    line-height: 42px;
    font-weight: 600;
    margin: 0;
}

.course p {
    font-size: 20px;
    color: #83848d;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.view-curriculum-btn {
    background-color: #fcf5fe;
    border: 1px solid #f9ebfc;
    border-radius: 1000px;
    color: #b73bbe;
    font-size: 20px;
    padding: 20px 24px 20px 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

.view-curriculum-btn p {
    color: #b73bbe;
}

.course-line {
    height: 1px;
    width: calc(100%+20px);
    background-color: #e5e5e8;
}

/* refund offer */
.refund-offer-container {
    padding: 0 40px;
    background-color: white;
    padding-top: 10rem;
}

.refund-heading {
    color: #686972;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -5%;
    text-align: center;
    margin: auto;
    width: 70%;
}

.refund-highlight {
    background: linear-gradient(180deg, #b73bbe 0%, #992e9d 93.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.offer-box {
    margin: 20px auto;
    background: linear-gradient(180deg, #9849ff 0%, #841ee3 93.51%);
    box-shadow: 0px 16px 36px -10px #9849ff40;
    color: white;
    padding: 32px 20px 32px 20px;
    border-radius: 32px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.offer-percent {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.seat-left {
    color: #ffffff;
    opacity: 70%;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.offer-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.offer-end p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.offer-end {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.offer-scribble {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.refund-offer-container h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #450d45;
}

.steps-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 22px;
}

.steps {
    display: flex;
    flex-direction: column;
}

.steps-icon {
    width: 92px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    z-index: 3;
    position: relative;
}

.step-icon-container {
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* gap: 10px; */
}

.steps-mobile {
    display: none;
}

.steps-line {
    width: 90%;
    height: 4px;
    background: #f5f5f6;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 0px 702px 0px 0px; */
}

.step-overlay-text {
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -35%);
    color: #fcf5fe;
}

.step-overlay-container {
    position: relative;
}

.step-card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
}

.step-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.step {
    width: 350px;
    height: 254px;
    padding: 20px;
    gap: 16px;
    border-radius: 20px;
    border: 1px;
    background: linear-gradient(180deg, #ffffff 0%, #fcf5fe 100%);
    border: 1px solid #f9ebfc;
    display: flex;
    justify-content: center;
}

.step-body h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #7f2781;
    display: flex;
    justify-content: center;
}

.step-body span {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #1b1b1d;
}

.step-card-det {
    padding: 16px;
    gap: 8px;
    border-radius: 14px;
    border: 1px solid #e5e5e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-card-det h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    background: linear-gradient(180deg, #ffa50b 0%, #e27900 93.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}
.step-card-det h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #4c4d52;
    margin: 0;
}

/* Hiring */

.hiring {
    background: #fffcea;
    padding: 3rem 0;
    margin-top: 10rem;
    overflow-x: hidden;
}

.hiring p {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #374957;
    margin: 0;
}

.hiring span {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-align: center;
    background: linear-gradient(92.04deg, #b73bbe 49.96%, #ebcb2e 99.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hiring-logo-container {
    display: flex;
    gap: 22px;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.hiring-logo {
    width: 257px;
    height: 133px;
    padding: 10px;
    gap: 10px;
    border-radius: 24px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiring-logo p {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #374957;
}

/* certificates */

.certificates {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    padding-top: 10rem;
}

.cert-heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    color: #686972;
}

.cert-highlight {
    color: #992e9d;
}

.cert-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.cert-left {
    background: #fcf5fe;
    border: 1px solid#F9EBFC;
    width: 40%;
    padding: 36px;
    border-radius: 32px;
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cert-right {
    width: 40%;
    padding: 28px;
    border-radius: 24px;
    border: 1px;
    background: #fffcea;
    border: 1px solid#FFF4C5;
    display: flex;
    flex-direction: column;
}

.cert-left h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #450d45;
    margin: 0;
}

.cert-img {
    border-radius: 10.95px;
    border: 0.73px;
}

.cert-star-text {
    display: flex;
    padding: 10px 14px 10px 10px;
    gap: 6px;
    border-radius: 100px;
    border: 1px;
    border: 1px solid #f4d6f8;
    background: #f9ebfc;
    margin: 0;
}

.cert-star-text-container {
    display: flex;
    gap: 14px;
}

.cert-star-text-container h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #992e9d;
    margin: 0;
}

.cert-star-text img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.cert-right p {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #481900;
    margin: 0px;
}

.cert-right h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #686972;
}

.cert-right img {
    width: 417px;
    height: 417px;
    margin: auto;
    mix-blend-mode: multiply;
}

/* Internship node */

.intern-node-container p {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    background: linear-gradient(180deg, #b872d0 0%, #372faa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top: 10rem;
}

.intern-node-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    width: 80%;
    margin: auto;
}

.intern-node-container img {
    scale: 110%;
}

.intern-node-button h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.76px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.intern-node-button {
    margin-top: 2rem;
    padding: 15px 28px 15px 28px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #0000001a;
    box-shadow: 0px -1px 4px 0px #00000026;
    box-shadow: -1px 0px 4px 0px #00000026;
    box-shadow: 1px 0px 4px 0px #00000026;
    background: linear-gradient(176.18deg, #800080 -2.53%, #7e267e 27.29%);
    cursor: pointer;
    /* margin-top: 20rem; */
}

.intern-node-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    padding-top: 1rem;
}

.intern-node-text1 h1,
.intern-node-text2 h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #150e42;
    width: 275px;
}
.intern-node-text1,
.intern-node-text2 {
    display: flex;
}

.intern-text1 {
    padding-left: 19rem;
}
.intern-text2 {
    padding-left: 10rem;
}
.intern-text3 {
    padding-left: 6rem;
}

.intern-text4 {
    padding-left: 30rem;
}
.intern-text5 {
    padding-left: 10rem;
    padding-top: 1.4rem;
}

.intern-node-text2 {
    padding-top: 2rem;
}

.intern-node-mobile {
    display: none;
}

/* Desktop view ends here */

/* Media Queries */

/* Mobile view starts here */

/* Header */
@media (max-width: 500px) {
    .header p {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }
    .header {
        padding: 2rem;
    }
}

/* Header Base */
@media (max-width: 500px) {
    .header-base h1,
    .header-base p {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }
    .iit-alumuni {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        padding-left: 0.5rem;
    }
    .iit-alumuni-highlight {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    .hero-section h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 46.8px;
        letter-spacing: -0.03em;
        text-align: left;
    }
    .hero-section p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    .feature-item {
        padding: 8px 14px 8px 10px;
        gap: 6px;
        border-radius: 100px;
        border: 1px;
    }
}

/* hero */
@media (max-width: 1200px) {
    .stats-container {
        display: none;
    }
    .features {
        flex-wrap: wrap;
    }
}
@media (max-width: 1000px) {
    .hero {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: start;
        margin: auto;
    }
    .hat-iit-alumuni {
        display: inline-block;
        margin-top: 3rem;
    }
}

@media (max-width: 500px) {
    .iit-alumuni {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        padding-left: 0.5rem;
    }
    .iit-alumuni-highlight {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    .hero-section h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 46.8px;
        letter-spacing: -0.03em;
        text-align: left;
    }
    .hero-section p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    .feature-item {
        padding: 8px 14px 8px 10px;
        gap: 6px;
        border-radius: 100px;
        border: 1px;
    }
    .enroll-now {
        padding: 20px 32px 20px 32px;
        gap: 12px;
        border-radius: 16px;
        width: 90%;
    }
    .enroll-now p {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
    }
    .enroll-image {
        width: 18px;
        height: 18px;
    }
    .know-more {
        padding: 0px 24px 0px 24px;
        gap: 6px;
        border-radius: 16px;
    }
    .know-more p {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }
    .cta-buttons {
        flex-direction: column;
        align-items: center;
    }
}

/* Course List */

@media (max-width: 500px) {
    .course-list-container {
        margin-top: 2rem;
    }
}

@media (max-width: 1100px) {
    .course {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}

@media (max-width: 767px) {
    .course-list-headings h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.02em;
        text-align: center;
    }
    .course-list-headings h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.03em;
        text-align: center;
    }
    .course h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.03em;
        text-align: left;
    }
    .course p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.03em;
        text-align: left;
    }
    .view-curriculum-btn p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.04em;
        text-align: center;
    }
    .view-curriculum-btn img {
        width: 20px;
        height: 20px;
    }
    .view-curriculum-btn {
        padding: 16px 20px 16px 20px;
        gap: 8px;
        border-radius: 12px;
        border: 1px;
        width: 80%;
        margin: auto;
    }
}

/* Hiring */

@media (max-width: 500px) {
    .hiring p,
    .hiring span {
        font-size: 28px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: -0.03em;
        text-align: center;
    }
    .hiring-logo p {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.03em;
        text-align: center;
    }
    .hiring-logo {
        width: 110px;
        height: 44px;
        padding: 10px;
        border-radius: 18px;
    }
}

/* refund offer */
@media (max-width: 1200px) {
    .steps-container {
        flex-direction: column;
    }
    .step-icon-container {
        display: none;
    }
    .steps-mobile {
        display: block;
    }
    .step-container-mobile {
        display: flex;
        gap: 1rem;
        /* margin: auto; */
        /* width: 40%; */
    }
    .refund-offer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .step-body h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.03em;
        text-align: left;
    }
    .step {
        width: 242px;
        height: 249px;
        padding: 16px;
        gap: 16px;
        border-radius: 18px;
        border: 1px;
    }
    .refund-offer-container {
        padding-top: 5rem;
    }
}

@media (max-width: 500px) {
    .refund-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        letter-spacing: -0.03em;
        text-align: left;
    }
}

/* certiificates */
@media (max-width: 1200px) {
    .cert-container {
        flex-direction: column;
        width: 85%;
    }
    .cert-heading {
        text-align: left;
    }
    .cert-left {
        width: 100%;
    }
    .cert-right {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .cert-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
    }
    .cert-left h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
    }
    .cert-star-text-container h2 {
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.03em;
        text-align: left;
    }
    .purp-star {
        display: none;
    }
    .cert-star-text {
        padding: 10px 12px 10px 12px;
        gap: 6px;
        border-radius: 100px;
        border: 1px;
    }
    .cert-right p {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
    }
    .cert-right h1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    .cert-right img {
        width: 90%;
        height: 90%;
    }
    .certificates {
        padding-top: 5rem;
    }
}

@media (max-width: 580px) {
    .cert-img,
    .cert-right img {
        width: 100%;
    }
}

/* Internship */

@media (max-width: 1350px) {
    .intern-node-img {
        display: none;
    }
    .intern-node-text1,
    .intern-node-text2 {
        flex-direction: column;
    }
    .intern-node-container h1 {
        padding: 0;
    }
    .intern-node-mobile {
        display: block;
    }
    .intern-mobile-container {
        display: flex;
        gap: 1rem;
    }
    .intern-text2 {
        padding-top: 0;
    }
    .intern-text1,
    .intern-text2,
    .intern-text3,
    .intern-text4,
    .intern-text5 {
        margin-bottom: 0.5rem;
    }
    .intern-node-button {
        margin-top: 2rem;
    }
    .intern-node-container p {
        padding-top: 5rem;
    }
}
